@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&family=Quicksand:wght@300&family=Ultra&display=swap');
/* MENU = ULTRA      TITULOS = DMSERIFTEXT       PARRAFOS O SPAN = QUICKSAND*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}




/* ==========HEADER PRINCIPAL========= */
.header {
    background-image: linear-gradient(
        0deg,
        rgba(70, 70, 70, 0.5),
        rgba(73, 73, 73, 0.5) 
    )
    ,url(../imagenes/foto-niñas-jugando.webp);
    background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
}

.header__logo {
    width: 250px;
}

.header__container-logo {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__slogan {
    width: 100px;
    height: 75px;
}

.header__container-slogan {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 5px;
}

.header__menu {
    display: none;
}

.header__button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1rem;
    border-radius: 3rem;
    padding: 1rem;
    background: linear-gradient(to right, #0BA360, #3CBA92);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color:  #5b756a;
}

/*  ==========HEADER INSCRIPCIONES========= */

.header__logo-inscripciones {
    width: 250px;
}

.header__slogan-inscripciones {
    width: 100px;
    height: 75px;
}

.header__container-slogan2 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 0.5rem;
}

/* ==========MAIN INSCRIPCIONES========= */
.titulo {
    display: flex;
    justify-content: center;
}

.form__contenedor {
    background: linear-gradient(90deg, #A7A6CB 0%, #8989BA 52%, #8989BA 100%);
    margin-bottom: 5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 1rem 1rem 5rem 1rem;
}

.form__address,
.form__social,
.form__candelar,
.form__dni,
.form__name,
.form__mail {
    display: flex;
    flex-direction: column;
}


.form__address label,
.form__social label,
.form__candelar label,
.form__dni  label,
.form__mail label,
.form__name label {
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.form__address input,
.form__social input,
.form__candelar input,
.form__dni input,
.form__mail input,
.form__name input {
    align-self: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.form__address input:hover,
.form__social input:hover,
.form__candelar input:hover,
.form__dni input:hover,
.form__mail input:hover,
.form__name input:hover {
    align-self: center;
    border-radius: 1rem;
    background-color: #f88d66;
    margin-bottom: 1rem;
}

.form__characteristics,
.form__mother,
.form__father,
.form__authorized {
display: flex;
flex-direction: column;
}
.form__authorized textarea,
.form__father textarea,
.form__mother textarea,
.form__characteristics textarea {
    resize: none;
    align-self: center;
    width: 85%;
    height: 7rem;
}
.form__authorized label,
.form__father label,
.form__mother label,
.form__characteristics label {
    align-self: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.form__authorized input,
.form__father input,
.form__mother input,
.form__characteristics input {
    align-self: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
}


.form__maternal-verano {
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.form__asiste {
  align-self: center;
  margin-top: 1rem;
}

.form__shift {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form__turno {
    align-self: center;
    margin-top: 1rem;
}

.form__hour {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}
.form__cantidad {
    align-self: center;
    margin-top: 1rem;
}

.form__radio {
    align-self: flex-start;
    padding-left: 1rem;
}

.form__documentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
    ;
}
.form__documentos{
    font-size: 0.90rem;
    margin-left: 2rem;
}
.form__archivos {
    font-size: 0.75rem;
}

.form__botones {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 1rem 0 1rem 0;
}



/* ==========TABLET========= */
@media screen and (min-width: 600px) and (max-width: 1024px) {

/* ==========HEADER PRINCIPAL========= */
    .header__logo{
    width: 350px;
    }

    .header__slogan {
    width: 200px;
    }

    .header__button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #79787888;
        font-size: 1.5rem;
        border-radius: 3rem;
        padding: 1rem;
    }

/*  ==========HEADER INSCRIPCIONES========= */
.header__logo-inscripciones {
    width: 350px;
}

.header__slogan-inscripciones {
    width: 200px;
}

/* ==========MAIN INSCRIPCIONES========= */
.form__radio {
    margin-left: 3rem;
}

.form__documentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.form__archivos, .form__documentos {
    align-self: flex-start;
}


}

/* ==========MONITOR CHICO========= */
@media screen and (min-width: 1024px) and (max-width: 1600px) {

/* ==========HEADER PRINCIPAL========= */
    .header {
        background-size: 100% 100%;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "logo .... .... slogan"
        ".... .... .... ......"
        ".... .... .... ......"
        "menu menu menu inscri";
    }

    a {
        text-decoration: none;
        background: linear-gradient(to right, #E9E4F0, #E9E4F0);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header__menu {
        display: flex;
        gap: 10rem;
        list-style: none;
        justify-content: center;
        padding: 20px;
    }

    .header__item {
        font-size: 1.8rem;
    }

    .header__container-menu {
        grid-area: menu;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .header__logo{
        width: 400px;
        height: auto;
        grid-area: logo;
        padding: 1rem;
        }

    .header__container-slogan {
        height: auto;
        grid-area: slogan;
        padding: 2rem;
    }

    .header__slogan {
        width: 250px;
        height: 200px;
    }

    .header__button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 2rem;
        border-radius: 3rem;
        padding: 1rem;
        grid-area: inscri;
        background: linear-gradient(to right, #96DEDA, #50C9C3);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }

/*  ==========HEADER INSCRIPCIONES========= */
.header-inscripciones {
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header__logo-inscripciones {
    width: 250px;
    padding: 10px;
}

.header__slogan-inscripciones {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.header__container-slogan2 {
    position: static;
}



/* ==========MAIN INSCRIPCIONES========= */

body{
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.form__mail{
    grid-column: 1/2;
    grid-row: 1/2;
}
.form__name{
    grid-column: 2/3;
    grid-row: 1/2;
    }
.form__dni{
    grid-column: 3/4;
    grid-row: 1/2;
    }
.form__candelar{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    }
.form__social{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
    }
.form__address{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-end;
    }

.form__characteristics{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: flex-start;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-left: 4rem;
}
.form__mother{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: flex-start;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-left: 4rem;
    }
.form__father{
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: flex-end;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-right: 4rem;
    }
.form__authorized{
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: flex-end;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-right: 4rem;
    }
textarea {
        resize: none;
        width: 100%;
        height: 50%;
    }

.form__maternal-verano{
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }
.form__shift{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }
.form__hour{
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }

.form__documentation{
    grid-column: 1/5;
    grid-row: 5/6;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    }

.form__botones {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-content: space-between;
    align-self: center;
    }
.form__botones button {
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
}



}

/*==========MONITOR GRANDE=========  */
@media screen and (min-width: 1600px) {


/* ==========HEADER PRINCIPAL========= */
    .header {
       
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "logo .... .... slogan"
        ".... .... .... ......"
        ".... .... .... ......"
        "menu menu menu inscri";
    }

    a {
        text-decoration: none;
        background: linear-gradient(to right, #0BA360, #3CBA92);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    }

    .header__menu {
        display: flex;
        gap: 15rem;
        list-style: none;
        justify-content: center;
        padding: 20px;
    }

    .header__item {
        font-size: 3rem;
    }

    .header__container-menu {
        grid-area: menu;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .header__logo{
        width: 400px;
        height: auto;
        grid-area: logo;
        padding: 1rem;
        }

    .header__container-slogan {
        height: auto;
        grid-area: slogan;
        padding: 2rem;
    }

    .header__slogan {
        width: 250px;
        height: 200px;
    }

    .header__button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        font-size: 2.5rem;
        border-radius: 3rem;
        padding: 1rem;
        grid-area: inscri;
        background: linear-gradient(to right, #96DEDA, #50C9C3);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        }

/*  ==========HEADER INSCRIPCIONES========= */
.header-inscripciones {
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header__logo-inscripciones {
    width: 400px;
    padding: 10px;
}

.header__slogan-inscripciones {
    width: 450px;
    height: 150px;
    padding: 10px;
}

.header__container-slogan2 {
    position: static;
}

}

/* ==========MAIN INSCRIPCIONES========= */

body{
    background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.form__mail{
    grid-column: 1/2;
    grid-row: 1/2;
}
.form__name{
    grid-column: 2/3;
    grid-row: 1/2;
    }
.form__dni{
    grid-column: 3/4;
    grid-row: 1/2;
    }
.form__candelar{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: flex-end;
    }
.form__social{
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: flex-end;
    }
.form__address{
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-end;
    }

.form__characteristics{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: flex-start;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-left: 4rem;
}
.form__mother{
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: flex-start;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-left: 4rem;
    }
.form__father{
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: flex-end;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-right: 4rem;
    }
.form__authorized{
    grid-column: 2/4;
    grid-row: 3/4;
    justify-self: flex-end;
    padding: 1rem;
    width: 425px;
    height: 250px;
    margin-right: 4rem;
    }
textarea {
        resize: none;
        width: 100%;
        height: 50%;
    }

.form__maternal-verano{
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }
.form__shift{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }
.form__hour{
    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: center;
    align-self: flex-start;
    }

.form__documentation{
    grid-column: 1/5;
    grid-row: 5/6;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    }

.form__botones {
    grid-column: 2/3;
    grid-row: 6/7;
    justify-content: space-between;
    align-self: center;
    }
.form__botones button {
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
}



